<footer class="bg-light text-center text-md-left md-0 " id="footer ">
    <div class="container px-1 ">
        <div class="row justify-content-center py-4 ">
            <h4>All Over South India</h4>
        </div>
        <div class="row justify-content-center mx-2 py-4 ">
            <div class="col-md-4 col-xs-6 mx-auto pb-4 ">
                <h4 class="my-4 ">
                    Our best routes
                </h4>
                <div class="row ">
                    <div class="col-6 ">
                        <ul class="list-unstyled ">
                            <li>Madurai</li>
                            <li>Chennai</li>
                            <li>Ramanathapuram</li>
                            <li>Tirunelveli</li>
                            <li>Coimbatore</li>
                            <li>Kodaikanal</li>
                            <li>Kanyakumari</li>
                            <li>Karur</li>
                            <li>Trichy</li>
                            <li>Thanjevur</li>
                            <li>Erode</li>
                        </ul>
                    </div>
                    <div class="col-6 ">
                        <ul class="list-unstyled ">
                            <li>Mysore</li>
                            <li>Tirupathi</li>
                            <li>Kerala</li>
                            <li>Visakhapatnam</li>
                            <li>Karnataka</li>
                            <li>Bangalore</li>
                            <li>Hyderabad</li>
                            <li>Goa</li>
                            <li>Andhra Pradesh</li>
                            <li>Pondicherry</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 mx-auto pb-4 ">
                <h4 class="my-4 ">
                    Our Services
                </h4>
                <ul class="list-unstyled ">
                    <li>Local Booking</li>
                    <li>Rental Cabs</li>
                    <li>Outstation Rides</li>
                    <li>Offers</li>
                    <li>Gift Vouchers</li>
                    <li>Hill stations</li>
                    <li><a href="/pages/t&c.html " style="color: black; ">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6 mx-auto pb-4 ">
                <h4 class="my-4 ">
                    Address
                </h4>
                <h4 class="address "></h4>No.187<br>Palace Road<br>Madurai-625001<br>Tamilnadu<br>India</h4>
            </div>
            <div class="col-md-3 col-xs-6 mx-auto pb-4 ">
                <h4 class="my-4 ">
                    Contact
                </h4>
                <ul class="list-unstyled ">
                    <li>+91 915 915 7070</li>
                    <li>piccocabs@gmail.com</li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="col-8 col-lg-10 col-md-8 col-xs-6 col-sm-10 mx-2 ">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3930.2054855433!2d78.12485339814957!3d9.916837259505712!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5c0f79cd9a76f481!2sPicco%20cabs!5e0!3m2!1sen!2sin!4v1601530520424!5m2!1sen!2sin
	    				" id="map " frameborder="0 " width="100% " style="border: 0;height:250px; " allowfullscreen=" " aria-hidden="false " tabindex="0 " class="img-fluid "></iframe>
            </div>
        </div>
        <p class="text-center text-secondary border-top border-secondary py-4 ">
            Picco Cabs © 2020 || Powered By NoNo Design<br>
            <a href="/pages/t&c.html " style="color: black; ">Terms & Conditions Applied</a>
        </p>
    </div>
</footer>
<a href="https://api.whatsapp.com/send?phone=919159157070 " class="float " target="_blank ">
    <i class="fa fa-whatsapp my-float "></i>
</a>