<div class="nav-wrapper" id="navigation">
    <nav class="navbar">
        <a href="#">
            <img src="/images/logo.png" alt="Picco cabs">
        </a>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav no-search">
            <li class="nav-item1 active"><a href="#">Home</a></li>
            <li class="nav-item1"><a href="#aboutus">About Us</a></li>
            <li class="nav-item1"><a href="#offers">Offers</a></li>
            <li class="nav-item1"><a href="#contact">Contact</a></li>
            <li class="nav-item1"><a href="#" id="signInButn">Sign in</a></li>
            <!-- <li class="nav-item1"><a href="#">Sign up</a></li> -->
        </ul>
    </nav>
</div>
<div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
</div>