<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Picco cabs - madurai's best and cheapest cab services">
    <meta name="keywords" content="picco cabs, Madurai cabs, madurai taxi, cabs, taxi, cheapest cabs, best cabs, online cab booking in madurai, madurai travels car, cabs in madurai airport, madurai airport taxi service, best taxi service in madurai, call taxi services in madurai, madurai call taxi services, taxi service in madurai, cab services in madurai, car rental services in madurai, rental car services in madurai, car rental in madurai, madurai car rental, cabs in madurai, travels in madurai, madurai taxi, tours and travels in madurai, car rental in madurai, top travels in madurai, madurai travel, travel madurai, Madurai, 
		Madurai to Chennai, madurai to chennai cab, madurai to chennai cab booking, madurai to chennai cab service, madurai to chennai cab traffic, madurai to chennai cab cost, madurai to chennai cab facility, madurai to chennai cab travels, taxi cab fare from madurai to chennai , 
		Madurai to Coimbatore, madurai to coimbatore cab, madurai to coimbatore cab booking, madurai to coimbatore cab service, madurai to coimbatore cab traffic, madurai to coimbatore cab cost, madurai to coimbatore cab facility, madurai to coimbatore cab travels, taxi cab fare from madurai to coimbatore ,
		Madurai to Bangalore, madurai to bangalore cab, madurai to bangalore cab booking, madurai to bangalore cab service, madurai to bangalore cab traffic, madurai to bangalore cab cost, madurai to bangalore cab facility, madurai to bangalore cab travels, taxi cab fare from madurai to bangalore,
		Madurai to pondicherry madurai to pondicherry cab, madurai to pondicherry cab booking, madurai to pondicherry cab service, madurai to pondicherry cab traffic, madurai to pondicherry cab cost, madurai to pondicherry cab facility, madurai to pondicherry cab travels, taxi cab fare from madurai to pondicherry ,
		Madurai to tirunelveli, madurai to tirunelveli cab, madurai to tirunelveli cab booking, madurai to tirunelveli cab service, madurai to tirunelveli cab traffic, madurai to tirunelveli cab cost, madurai to tirunelveli cab facility, madurai to tirunelveli cab travels, taxi cab fare from madurai to tirunelveli ,
		Madurai to Trichy, madurai to trichy cab, madurai to trichy cab booking, madurai to trichy cab service, madurai to trichy cab traffic, madurai to trichy cab cost, madurai to trichy cab facility, madurai to trichy cab travels, taxi cab fare from madurai to trichy ,
		Madurai to Dindigul, madurai to dindigul cab, madurai to dindigul cab booking, madurai to dindigul cab service, madurai to dindigul cab traffic, madurai to dindigul cab cost, madurai to dindigul cab facility, madurai to dindigul cab travels, taxi cab fare from madurai to dindigul,
		Madurai Online Cab Booking, Online Cab Booking, taxi sevices, online cab services, madurai best taxi provider,
		tamilnadu cabs, tamilnadu taxi, cabs, taxi, cheapest cabs, best cabs, online cab booking in tamilnadu, tamilnadu travels car, cabs in tamilnadu airport, tamilnadu airport taxi service, best taxi service in tamilnadu, call taxi services in tamilnadu, tamilnadu call taxi services, taxi service in tamilnadu, cab services in tamilnadu, car rental services in tamilnadu, rental car services in tamilnadu, car rental in tamilnadu, tamilnadu car rental, cabs in tamilnadu, travels in tamilnadu, tamilnadu taxi, tours and travels in tamilnadu, car rental in tamilnadu, top travels in tamilnadu, tamilnadu travel, travel tamilnadu, tamilnadu,
		chennai cabs, chennai taxi, cabs, taxi, cheapest cabs, best cabs, online cab booking in chennai, chennai travels car, cabs in chennai airport, chennai airport taxi service, best taxi service in chennai, call taxi services in chennai, chennai call taxi services, taxi service in chennai, cab services in chennai, car rental services in chennai, rental car services in chennai, car rental in chennai, chennai car rental, cabs in chennai, travels in chennai, chennai taxi, tours and travels in chennai, car rental in chennai, top travels in chennai, chennai travel, travel chennai, chennai,
		bangalore cabs, bangalore taxi, cabs, taxi, cheapest cabs, best cabs, online cab booking in bangalore, bangalore travels car, cabs in bangalore airport, bangalore airport taxi service, best taxi service in bangalore, call taxi services in bangalore, bangalore call taxi services, taxi service in bangalore, cab services in bangalore, car rental services in bangalore, rental car services in bangalore, car rental in bangalore, bangalore car rental, cabs in bangalore, travels in bangalore, bangalore taxi, tours and travels in bangalore, car rental in bangalore, top travels in bangalore, bangalore travel, travel bangalore, bangalore,
		coimbatore cabs, coimbatore taxi, cabs, taxi, cheapest cabs, best cabs, online cab booking in coimbatore, coimbatore travels car, cabs in coimbatore airport, coimbatore airport taxi service, best taxi service in coimbatore, call taxi services in coimbatore, coimbatore call taxi services, taxi service in coimbatore, cab services in coimbatore, car rental services in coimbatore, rental car services in coimbatore, car rental in coimbatore, coimbatore car rental, cabs in coimbatore, travels in coimbatore, coimbatore taxi, tours and travels in coimbatore, car rental in coimbatore, top travels in coimbatore, coimbatore travel, travel coimbatore, coimbatore,
		trichy cabs, trichy taxi, cabs, taxi, cheapest cabs, best cabs, online cab booking in trichy, trichy travels car, cabs in trichy airport, trichy airport taxi service, best taxi service in trichy, call taxi services in trichy, trichy call taxi services, taxi service in trichy, cab services in trichy, car rental services in trichy, rental car services in trichy, car rental in trichy, trichy car rental, cabs in trichy, travels in trichy, trichy taxi, tours and travels in trichy, car rental in trichy, top travels in trichy, trichy travel, travel trichy, trichy,
		Madurai to Erode, madurai to Erode cab, madurai to Erode cab booking, madurai to Erode cab service, madurai to Erode cab traffic, madurai to Erode cab cost, madurai to Erode cab facility, madurai to Erode cab travels, taxi cab fare from madurai to Erode,
		Madurai to Karur, madurai to Karur cab, madurai to Karur cab booking, madurai to Karur cab service, madurai to Karur cab traffic, madurai to Karur cab cost, madurai to Karur cab facility, madurai to Karur cab travels, taxi cab fare from madurai to Karur,
		Madurai to kodaikanal, madurai to kodaikanal cab, madurai to kodaikanal cab booking, madurai to kodaikanal cab service, madurai to kodaikanal cab traffic, madurai to kodaikanal cab cost, madurai to kodaikanal cab facility, madurai to kodaikanal cab travels, taxi cab fare from madurai to kodaikanal,
		Madurai to kerala, madurai to kerala cab, madurai to kerala cab booking, madurai to kerala cab service, madurai to kerala cab traffic, madurai to kerala cab cost, madurai to kerala cab facility, madurai to kerala cab travels, taxi cab fare from madurai to kerala">

    <!-- Styles -->
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

    <!-- Icons -->
    <link rel="icon" href="/images/taxi_ico.ico" type="image/icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="https://kit.fontawesome.com/c3b295575f.js" crossorigin="anonymous"></script>
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQi5xajVc33pRko4ciN0vSRhL89gWdF4w&callback=initMap&libraries=places&"></script>
    <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script defer type="text/JavaScript" src="https://MomentJS.com/downloads/moment.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></script>
    <script defer src="https://smtpjs.com/v3/smtp.js "></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js " integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV " crossorigin="anonymous "></script>
    <script defer src="/js/main.js"></script>

    <title>PiccoCabs</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <%- body %>


            <div class="modal fade bd-example-modal-lg" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div>
                            <span class="modalCloseBtn" id="registerCloseBtn">X</span>
                        </div>
                        <div class="modal-header justify-content-center">
                            <img class="d-block img-fluid" src="/images/logo.png" alt="">
                        </div>
                        <div class="modal-body">
                            <div class="text-center">
                                <div>Let's sign you in!</div>
                                <div>Please enter your mobile number</div>
                            </div>
                            <form class="form-signin mt-3">
                                <div class="form-label-group">
                                    <div class="input-group mb-3" style="flex-wrap: nowrap;">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1" style="border: none;">+91</span>
                                        </div>
                                        <input id="mobileNumber" type="text" maxlength="10" class="form-control bookInput" placeholder="Enter your mobile number" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="d-block text-danger" id="mobileError"></div>
                                </div>
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-6 col-form-label text-right">Pleas enter the OTP</label>
                                    <div class="col-sm-4">
                                        <input type="password" class="form-control bookInput otpInput" maxlength="4" id="staticEmail">
                                    </div>
                                </div>

                                <button id="signInBtn" class="d-flex justify-content-around align-items-center btn btn-lg btn-block mt-5 btn-picco" type="submit">
                                Sign in
                            </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <%- include('../partials/footer.ejs') %>
                <script>
                    const searchInput1 = document.getElementById("from");
                    const searchInput2 = document.getElementById("to");
                    const searchInput3 = document.getElementById("secfrom");
                    let a1, a2, b1, b2, loc1, loc2, kms = 0;

                    function distance(lat1 = a1, lat2 = a2, lon1 = b1, lon2 = b2) {
                        if (!lat1 || !lat2 || !lon1 || !lon2) return 0;
                        return getDistance(loc1, loc2)
                            // // The math module contains a function
                            // // named toRadians which converts from
                            // // degrees to radians.
                            // lon1 = lon1 * Math.PI / 180;
                            // lon2 = lon2 * Math.PI / 180;
                            // lat1 = lat1 * Math.PI / 180;
                            // lat2 = lat2 * Math.PI / 180;

                        // // Haversine formula
                        // let dlon = lon2 - lon1;
                        // let dlat = lat2 - lat1;
                        // let a = Math.pow(Math.sin(dlat / 2), 2) +
                        //     Math.cos(lat1) * Math.cos(lat2) *
                        //     Math.pow(Math.sin(dlon / 2), 2);

                        // let c = 2 * Math.asin(Math.sqrt(a));

                        // // Radius of earth in kilometers. Use 3956
                        // // for miles
                        // let r = 6371;

                        // // calculate the result
                        // return (c * r);
                    }

                    var rad = function(x) {
                        return x * Math.PI / 180;
                    };

                    var getDistance = function(p1, p2) {
                        var R = 6371 || 6378137; // Earth’s mean radius in meter
                        var dLat = rad(p2.lat() - p1.lat());
                        var dLong = rad(p2.lng() - p1.lng());
                        var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                            Math.cos(rad(p1.lat())) * Math.cos(rad(p2.lat())) *
                            Math.sin(dLong / 2) * Math.sin(dLong / 2);
                        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
                        var d = R * c;
                        return d; // returns the distance in meter
                    };

                    function initMap() {
                        const autocomplete1 = new google.maps.places.Autocomplete(searchInput1);
                        const autocomplete2 = new google.maps.places.Autocomplete(searchInput2);
                        const autocomplete3 = new google.maps.places.Autocomplete(searchInput3);
                        autocomplete1.setComponentRestrictions({
                            'country': ['in']
                        });

                        autocomplete1.addListener('place_changed', function() {
                            var place = autocomplete1.getPlace();
                            a1 = place.geometry.location.lat();
                            b1 = place.geometry.location.lng();
                            loc1 = place.geometry.location;
                            kms = distance();
                        });
                        autocomplete2.setComponentRestrictions({
                            'country': ['in']
                        });

                        autocomplete2.addListener('place_changed', function() {
                            var place = autocomplete2.getPlace();
                            a2 = place.geometry.location.lat();
                            b2 = place.geometry.location.lng();
                            loc2 = place.geometry.location;
                            kms = distance().toFixed(2);
                        });
                        autocomplete3.setComponentRestrictions({
                            'country': ['in']
                        });
                    }
                </script>
</body>

</html>